body {
  background-color: #ccbcbc;
  width: 100vw;
  margin: 0px;
  font-family: Helvetica;
}

.lionheart-navbar {
  text-align: center;
  background-color: #a91717;
  width: 100%;
  color: #f4f3f2;
}

.lionheart-navlist {
  width: 100%;
  height: 10%;
  background-color: #e54141;
}

.lionheart-navigation {
  display: list-item;
  float: left;
  list-style: none;
  margin: 5px 10px 10px 10px;
  width: 120px;
  height: 35px;
}

.lionheart-link {
  text-decoration: none;
  color: #f4f3f2;
  vertical-align: middle;
}

.lionheart-section {
  color: #4e4e4e;
  margin: 10px 10px 10px 10px;
}
